<div class="area-login-background d-none d-md-block"></div>

<div class="area-form">
  <form (ngSubmit)="login()">
    <h1 class="titulo">QUALIMAIS SAÚDE</h1>
    <h2 class="subtitulo">Mais eficiência no controle de clientes</h2>

    <input [(ngModel)]="email" [ngModelOptions]="{standalone: true}" class="input-form" type="email" placeholder="Digite o seu e-mail" required>

    <div class="password-container">
      <input [(ngModel)]="password" [ngModelOptions]="{standalone: true}" class="input-form" [type]="passwordVisible ? 'text' : 'password'" placeholder="Digite sua senha" required>
      <i class="eye-icon" (click)="togglePasswordVisibility()"></i>
    </div>

    <app-button textButton="Acessar" size="100" type="submit"></app-button>

    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
  </form>

  <p class="footer">© 2025 | desenvolvido por André Luis Avelino</p>
</div>
