<app-menu></app-menu>

<div class="container-fluid pt-3">
  <div class="row">
    <!-- LADO ESQUERDO DA TELA -->
    <div class="col-12 col-lg-9">
      <div *ngFor="let categoria of categorias">
        <div class="card-info mb-2">
          <h1 class="titulo">
            {{ categoria.titulo }} <span class="total">({{ categoria.lista.length }})</span>
          </h1>
          <div
            cdkDropList
            [cdkDropListData]="categoria.lista"
            [cdkDropListConnectedTo]="getTitulosCategorias()"
            class="subcard-container"
            (cdkDropListDropped)="moverCliente($event)"
          >
            <div *ngFor="let cliente of categoria.lista" cdkDrag class="subcard">
              <p><strong>Nome:</strong> {{ cliente.name }}</p>
              <p><strong>Email:</strong> {{ cliente.email }}</p>
              <p><strong>Telefone:</strong> {{ cliente.phone }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- LADO DIREITO DA TELA -->
    <div class="col-12 col-lg-3">
      <div class="card-info">
        <div class="container-perfil">
          <img class="img-perfil" src="" alt="">
          <h4>Seja bem vindo</h4>
          <h5>{{ userName }}</h5>
          <li><mat-icon>location_on</mat-icon>MS - Campo Grande</li>
        </div>
        <hr class="hr">
        <li><mat-icon>person</mat-icon>Gerencie usuários</li>
        <li><mat-icon>loyalty</mat-icon>Adicione benefícios</li>
        <li><mat-icon>format_list_bulleted</mat-icon>Consulte cadastros</li>
        <li><mat-icon>delete</mat-icon>Exclua usuários</li>
      </div>
    </div>
  </div>
</div>
