.card-info {
  background: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

/* Subcards com 50% de largura */
.subcard {
  background: #f8f9fa;
  padding: 10px 15px;
  border-left: 4px solid #007bff;
  border-radius: 8px;
  flex-grow: 1;
  flex-basis: calc(50% - 15px); /* 50% de largura menos o espaçamento */
  max-width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: grab;
}

/* Container flexível para os subcards */
.subcard-container {
  min-height: 150px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-between;
  transition: min-height 0.3s ease-in-out;
}

.subcard-container.empty {
  min-height: 150px;
  background-color: #f9f9f9;
  border: 2px dashed #ccc;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #888;
  font-style: italic;
}

.subcard .tipo-plano {
  background-color: #f0f8ff;
  border: 1px solid #ccc;
  padding: 5px 10px;
  font-style: italic;
  border-radius: 8px;
  font-weight: bold;
}

.comentario-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding: 8px;
  background: transparent;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  position: relative;
}

.comentario-container p {
  font-size: 14px;
  color: #007bff;
  margin-top: 10px;
  font-weight: bold;
}

.comentario-texto {
  font-size: 14px;
  font-weight: 500;
  color: #333;
  margin-bottom: 5px;
}

textarea {
  width: 100%;
  min-height: 60px;
  resize: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 8px;
  font-size: 14px;
  color: #555;
  background: #f9f9f9;
  transition: background 0.3s ease, border 0.3s ease;
}

textarea:focus {
  border-color: #007bff;
  outline: none;
  background: #fff;
}

.name-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-icon {
  font-size: 20px;
  cursor: pointer;
  padding: 0;
  margin-left: 10px;
  transition: opacity 0.3s ease;
}

.delete-icon:hover {
  opacity: 0.7;
}

.total {
  font-size: 14px;
  font-weight: bold;
  color: #007bff;
  margin-left: 10px;
}

/* Efeito ao arrastar */
.cdk-drag-preview {
  opacity: 0.8;
  background: #d1ecf1;
  border: 1px dashed #007bff;
}

.cdk-drop-list-dragging .subcard {
  transition: transform 0.2s ease-in-out;
}

.titulo {
  display: inline-flex;
  align-items: center;
  font-size: 26px;
  font-weight: 500;
  padding: 0;
  margin: 0;
  color: var(--primary-color);
}

.subtitulo {
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  padding: 26px 0px 14px 0px;
  color: var(--gray-color);
  span { color: var(--primary-color); font-weight: 500;}
}

/* Ajuste para telas menores */
@media (max-width: 768px) {
  /* Subcards ocuparão a tela inteira em dispositivos pequenos */
  .subcard {
    width: 100%;
    max-width: none;
    margin-bottom: 15px;
  }

  /* Contêiner de comentários */
  .comentario-container {
    padding: 5px;
  }

  /* Menu lateral (esconde em telas pequenas) */
  .col-lg-3 {
    display: none;
  }

  .subcard-container {
    min-height: 120px; /* Ajuste da altura mínima dos subcards */
  }

  .name-container {
    flex-direction: column; /* Torna o layout mais organizado em telas pequenas */
    align-items: flex-start; /* Alinha os itens à esquerda */
  }

  .delete-icon {
    margin-left: 0;
    margin-top: 5px;
  }

  .total {
    font-size: 12px; /* Ajusta o tamanho da fonte para telas menores */
    margin-left: 0;
  }
}

/* Ajustes específicos para telas grandes */
@media (min-width: 768px) {
  .subcard {
    flex-basis: 48%; /* Cards ocupam 48% da tela em dispositivos médios */
  }
}

@media (min-width: 992px) {
  .subcard {
    flex-basis: 30%; /* Cards ocupam 30% da tela em telas grandes */
  }
}
