.card-info {
  background: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

/* Container flexível para os subcards */
.subcard-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px; // Espaçamento entre os cards
  justify-content: space-between; // Garantir que o espaço seja distribuído corretamente
}

.total {
  font-size: 14px;
  font-weight: bold;
  color: #007bff;
  margin-left: 10px;
}

/* Subcards com 50% de largura */
.subcard {
  background: #f8f9fa;
  padding: 10px 15px;
  border-left: 4px solid #007bff;
  border-radius: 8px;
  flex-grow: 1; // Faz com que os subcards cresçam para ocupar o espaço disponível
  flex-basis: calc(50% - 15px); // 50% de largura menos o espaçamento entre os cards
  max-width: 400px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: grab;
}

/* Efeito ao arrastar */
.cdk-drag-preview {
  opacity: 0.8;
  background: #d1ecf1;
  border: 1px dashed #007bff;
}

/* Efeito ao soltar no card */
.cdk-drop-list-dragging .subcard {
  transition: transform 0.2s ease-in-out;
}

.titulo {
  display: inline-flex;
  align-items: center;
  font-size: 26px;
  font-weight: 500;
  padding: 0;
  margin: 0;
  color: var(--primary-color);
}

.total {
  font-size: 14px;
  font-weight: bold;
  color: #007bff;
  margin-left: 10px;
  vertical-align: middle; /* Isso vai alinhar o contador com o meio da linha */
}

.subtitulo {
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  padding: 26px 0px 14px 0px;
  color: var(--gray-color);
  span { color: var(--primary-color); font-weight: 500;}
}

//card spinner
.texto-card {
  font-size: 16px;
  font-weight: 500;
  color: #888;
  margin-bottom: 18px;
}

.numero-card {
  font-size: 28px;
  font-weight: bold;
  color: #0a0a0a;
  margin-bottom: 16px;
}

.destaque-card {
  font-size: 12px;
  font-weight: 500;
  color: var(--primary-color);
  margin-bottom: 0;
}

.info-spinner {
  font-size: 14px;
  font-weight: 500;
  color: #797979;
  text-align: center;
  position: relative;
  top: -62px;
  margin: 0 auto;
}

// LADO DIRETO
li {
  font-size: 14px;
  font-weight: 500;
  color: #868686;
  padding: 14px 0;
  margin: 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #dbdbdb;
  mat-icon { margin-right: 14px; font-size: 22px;}
}

.img-perfil {
  border-radius: 50%;
  width: 40%;
}

.container-perfil {
  width: 100%;
  text-align: center;
  h4 {
    font-size: 16px;
    color: #474747;
    font-weight: 500;
    margin: 8px 0px 0px 0px;
  }
  h5 {
    font-size: 14px;
    color: #6d6d6d;
    font-weight: 400;
    margin: 2px 0px 0px 0px;
  }
  li {
    justify-content: center;
    color: var(--primary-color);
    border: none;
  }
}

.texto-p {
  font-size: 14px;
  font-style: italic;
  color: #767676;
}

/* Ajuste para telas menores */
@media (max-width: 768px) {
  .subcard {
    width: 100%; // Em telas menores, os subcards ocupam a linha inteira
  }
}
