<app-menu></app-menu>

<div class="container-fluid pt-3">
  <div class="row">
    <!-- LADO ESQUERDO DA TELA -->
    <div class="col-12 col-lg-9 categoria-container">
      <div *ngFor="let categoria of categorias; let i = index">
        <div class="card-info mb-2">
          <h1 class="titulo">
            {{ categoria.titulo }} <span class="total">({{ categoria.lista.length }})</span>
          </h1>
          <div
            cdkDropList
            [cdkDropListData]="categoria.lista"
            [cdkDropListConnectedTo]="getTitulosCategorias()"
            class="subcard-container"
            [ngClass]="{'empty': categoria.lista.length === 0}"
            (cdkDropListDropped)="moverCliente($event, categoria)"
            [id]="'categoria-' + i"
          >
            <div *ngFor="let cliente of categoria.lista" cdkDrag class="subcard">
              <div class="name-container">
                <p><strong>Nome:</strong> {{ cliente.name }}</p>
                <div class="icon-container">
                  <mat-icon (click)="deletar(cliente)" class="delete-icon">delete</mat-icon>
                </div>
              </div>
              <p><strong>Email:</strong> {{ cliente.email }}</p>
              <p><strong>Telefone:</strong> {{ cliente.phone | mask: '(00) 00000-0000' }}</p>
              <span *ngIf="cliente.typePlan" class="tipo-plano">{{ cliente.typePlan }}</span>
              <div class="comentario-container">
                <textarea
                [(ngModel)]="cliente.comentario"
                (input)="atualizarComentario(cliente, $event)"
                [placeholder]="cliente.comentario ? cliente.comentario : 'Digite seu comentário aqui...'"
              ></textarea>
              </div>
              <div *ngIf="cliente.tempoRestante > 0">
                <p>{{ cliente.tempoMensagem || 'Aguarde... tempo restante' }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- LADO DIREITO DA TELA -->
    <div class="col-12 col-lg-3">
      <div class="card-info">
        <div class="container-perfil">
          <img class="img-perfil" src="" alt="">
          <h4>Seja bem vindo</h4>
          <h5>{{ userName }}</h5>
          <li><mat-icon>location_on</mat-icon>MS - Campo Grande</li>
        </div>
        <hr class="hr">
        <li><mat-icon>person</mat-icon>Gerencie usuários</li>
        <li><mat-icon>loyalty</mat-icon>Adicione benefícios</li>
        <li><mat-icon>format_list_bulleted</mat-icon>Consulte cadastros</li>
        <li><mat-icon>delete</mat-icon>Exclua usuários</li>
      </div>
    </div>
  </div>
</div>
