/* Menu Desktop */
.sidemenu {
  width: 210px;
  height: 100vh; /* Garante que o menu ocupe toda a altura da tela */
  background-color: var(--calm-blue-color);
  padding: 10px 0;
  box-shadow: 4px 0px 10px 4px #0a0a0a30;
  // position: fixed;
  top: 0;
  left: 0;
  z-index: 9999; /* Garante que o menu fique acima de outros conteúdos */
  transition: transform 0.3s ease-in-out;

  ul {
    padding: 0;
  }

  .logo {
    font-size: 20px;
    font-weight: bold;
    margin-left: 4px;
  }

  li {
    font-size: 14px;
    font-weight: 500;
    color: #fafafa;
    padding: 14px 24px;
    display: flex;
    align-items: center;
    justify-content: left;
    transition: 0.3s linear all;

    mat-icon {
      margin-right: 14px;
      font-size: 22px;
    }

    &:hover {
      background: #e6e6e6;
      cursor: pointer;
      color: var(--gray-color);
    }
  }

  .logout {
    position: absolute;
    bottom: 0;
    width: 210px;
  }

  a {
    text-decoration: none;
  }
}

/* MENU LATERAL NO DESKTOP */
@media (min-width: 769px) {
  .sidemenu {
    // position: fixed;
    top: 0;
    left: 0;
    width: 210px;
    height: 100vh;
    z-index: 9999;
    transform: none; /* Corrige a posição do menu no desktop */
    display: block;
    float: left;
    margin-right: 16px;
  }

  /* Esconde o botão hambúrguer no desktop */
  .menu-toggle {
    display: none;
  }
}

/* Menu Mobile */
@media (max-width: 768px) {
  .sidemenu {
    width: 100%;
    height: auto;
    top: -100%; /* Esconde o menu acima da tela */
    left: 0;
    transition: top 0.3s ease-in-out;
    position: fixed; /* Fixar a posição na tela */
    z-index: 9998; /* Certifique-se de que o menu está abaixo do hambúrguer */

    .logout {
      position: relative;
    }
  }

  .sidemenu.open {
    top: 0; /* Menu aparece no topo quando aberto */
  }

  .menu-toggle {
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: var(--gray-color); /* Usando a cor primária do sistema (roxo) */
    border: none;
    color: white;
    font-size: 23px;
    cursor: pointer;
    z-index: 10000;
    padding: 8px 14px; /* Aumenta o espaço interno (padding) ao redor do ícone */
    border-radius: 0px; /* Arredonda as bordas para um efeito mais suave */
  }

  /* Especificando o comportamento do hambúrguer ao passar o mouse */
  .menu-toggle:hover {
    background-color: var(--gray-color); /* Um roxo mais escuro ao passar o mouse */
  }

  .menu-toggle.hidden {
    display: none;
  }
}
