<div class="container-fluid p-3">
  <mat-icon class="float-end hover" (click)="closeModal()">close</mat-icon>

  <h1 class="titulo" *ngIf="editUser">Editar Cliente</h1>
  <h1 class="titulo" *ngIf="!editUser">Cadastrar Cliente</h1>

  <h2 class="subtitulo">Preencha o formulário para salvar o cliente</h2>

  <form action="" class="row" [formGroup]="formUser">
    <div class="col-12 col-md-6 mb-2">
      <mat-form-field class="example-full-width w-100">
        <mat-label>Nome</mat-label>
        <input type="text" matInput formControlName="name" placeholder="Digite o seu nome">
        @if (formUser.controls['name'].invalid) {
          <mat-error>Por favor digite um nome válido</mat-error>
        }
      </mat-form-field>
    </div>
    <div class="col-12 col-md-6 mb-2">
      <mat-form-field class="example-full-width w-100">
        <mat-label>E-mail</mat-label>
        <input type="email" matInput formControlName="email" placeholder="Digite o seu email">
        @if (formUser.controls['email'].invalid) {
          <mat-error>Por favor digite um e-mail válido</mat-error>
        }
      </mat-form-field>
    </div>
    <div class="col-12 col-md-6 mb-2">
      <mat-form-field class="example-full-width w-100">
        <mat-label>Valor</mat-label>
        <input type="text" matInput formControlName="cash" placeholder="Digite o seu valor"
        mask="separator.2" prefix="R$ " thousandSeparator="." decimalMarker=",">
        @if (formUser.controls['cash'].invalid) {
          <mat-error>Por favor digite um valor válido</mat-error>
        }
      </mat-form-field>
    </div>
    <div class="col-12 col-md-6 mb-2">
      <mat-form-field class="example-full-width w-100">
        <mat-label>Telefone</mat-label>
        <input type="tel" matInput formControlName="phone" placeholder="Digite o seu telefone"
        mask="(00) 00000-0000">
        @if (formUser.controls['phone'].invalid) {
          <mat-error>Por favor digite um telefone válido</mat-error>
        }
      </mat-form-field>
    </div>
    <div class="col-12 col-md-6 mb-2">
      <mat-form-field class="w-100">
        <mat-label>Status</mat-label>
        <mat-select formControlName="estado">
          @for (estados of estadoCliente; track estados) {
            <mat-option [value]="estados.descricao">{{estados.descricao}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
     </div>
    <!-- Beneficios Select -->
     <div class="col-12 col-md-6 mb-2">
      <mat-form-field class="w-100">
        <mat-label><mat-icon>favorite</mat-icon>Plano de Saúde</mat-label>
        <mat-select formControlName="healthPlan">
          @for (plano of planosSaude; track plano) {
            <mat-option [value]="plano.descricao">{{plano.descricao}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
     </div>

     <div class="col-12 col-md-6 mb-2">
      <mat-form-field class="w-100">
        <mat-label><mat-icon>favorite</mat-icon>Plano Odontologico</mat-label>
        <mat-select formControlName="dentalPlan">
          @for (dental of planosOdonto; track dental) {
            <mat-option [value]="dental.descricao">{{dental.descricao}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
     </div>

     <div class="col-12">
      <button class="botao-primario float-end" [disabled]="!formUser.valid" (click)="saveUser()">salvar cliente</button>
     </div>
  </form>
</div>
